div.dialogue {
    padding-left: 1em;
    display: grid;
    grid-template-columns: max-content fit-content;
    width: fit-content;
    margin: 0.5em;
}

div.line {
    display: grid;
    grid-column: 1 / 3;
    grid-template-columns: subgrid;
    font-family: 'Courier New', monospace;
    margin-bottom: 0.25em;
}

div.line:hover {
    background-color: #f0f0f0;
}

div.line .copy-button {
    visibility: hidden;
}

div.line:hover .copy-button {
    visibility: initial;
}

div.speaker {
    font-weight: bold;
    text-transform: uppercase;
    grid-column: 1 / 2;
    justify-self: end;
}

div.line-text {
    grid-column: 2 / 3;
    margin-left: 0.5em;
    max-width: 36em;
    hyphens: auto;
}

div.line-text b {
    text-transform: uppercase;
}

.section {
    border-left-width: 1px;
    border-left-style: dashed;
    border-left-color: transparent;
}

.section:hover {
    border-left-color: darkgray;
}

.section-body {
    padding-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.section-title {
    padding-left: 0.1em;
    font-size: 2em;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.section-title .copy-button {
    visibility: hidden
}

.section-title:hover .copy-button {
    visibility: initial;
}

.section .section-title {
    font-size: 1.5em;
}

.section .section .section-title {
    font-size: 1.25em;
}

.section .section .section .section-title {
    font-size: 1.1em;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 20
}

div.copy-button {
    display: inline-flex;
    opacity: 10%;
    cursor: pointer;
    margin-left: 0.2em;
    align-items: center;
    vertical-align: middle;
}

/* The icon inside of the copy button */
div.copy-button .material-symbols-outlined {
    font-size: 1em;
}

div.copy-button:hover {
    opacity: 100%;
}